# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
build/
dist/
venv/ # Recommended to ignore the virtual environment directory
.venv/ # Alternate common virtual environment name

# IDEs and editors
.idea/ # PyCharm
.vscode/ # VS Code
*.swp

# OS-specific files
.DS_Store # macOS
Thumbs.db # Windows

# Flask-specific
instance/ # Flask instance folder for config and data that should not be committed
.webassets-cache # Caching folder

# Environment variables
.env
.flaskenv

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/
.vscode/settings.json
